<template>
  <div class="w-full bg-white m-2 md:m-16 p-4">
    <p class="text-purple-600 font-semibold">
      {{ state.state }}
    </p>
    <p class="text-indigo-600 font-semibold">
      POSITION: {{ state.rover.getPosition() }}
    </p>
    <div v-if="state.obstacle" style="display: flex; flex-direction: column;">
      {{ state.obstacle.getDescriptionText() }} at {{ state.obstacle.getPosition() }}
      <img style="border-radius: 12px" class="md:w-1/3 md:h-1/3 mt-2 max-w-md max-h-64" :src="require(`@/assets/${state.obstacle.getDescriptionImage()}`)">
    </div>
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="command">
          Command
        </label>
        <input id="command" v-model="command" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Command">
      </div>
      <div class="flex items-center justify-between">
        <button v-if="state.state === 'READY'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" @click="sendCommand()">
          Send to Rover
        </button>
        <button v-if="state.state === 'STOPPED'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" @click="restartApp()">
          Restart
        </button>
      </div>
    </form>
    <div class="bg-gray-800 p-4 rounded">
      <p class="text-green-400 font-semibold">
        {{ state.bitacora.register }}>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: ['state'],
  data () {
    return {
      command: 'frlrlflrflrlfrfrfrfrrrfff'
    }
  },
  methods: {
    getImgUrl (source: string) {
      return require(`../static/${source}`)
    },
    sendCommand () {
      this.state.onInput(this.command)
    },
    restartApp () {
      this.state.restart()
    }
  }
})
</script>
