<template>
  <div ref="grid" class="grid-wrapper" :style="`  grid-template-rows: repeat(${map.length}, 1fr);`">
    <div v-for="(titleArray, index) in map" :key="index" style="flex-direction: row; display: flex; justify-content: space-between;">
      <div v-for="(tile, index2) in titleArray" :key="`${index}-${index2}`" class="tile-view" :style="`background-color: ${tile ? tile.background : '#212121'}`" />
    </div>
    <Rover :rover="rover" :width="width" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Rover from './Rover.vue'
const VueApp: any = Vue
export default VueApp.extend({
  components: {
    Rover
  },
  props: ['map', 'rover'],
  data () {
    return {
      width: 0
    }
  },
  mounted () {
    this.width = this.$refs.grid && this.$refs.grid.clientWidth ? (this.$refs.grid.clientWidth) / 200 : 40
  }
})
</script>

<style scoped>
.grid-wrapper {
    height: 100vh;
  display: grid;
  align-self: start;
  position: relative;
  border-style: solid;
  border-color: black;
  background-color: rgb(171, 250, 182);
  grid-template-columns: repeat(1, 1fr);
  width: auto;
  aspect-ratio: 1;
  height: 100vh;
}

.tile-view{
  width: auto;
  height: auto;
  flex: 1;
  background-size: cover;
  background-repeat: repeat;
}
</style>
