<template>
  <div :key="rover.id" class="rover-wrapper" :style="`top: ${rover.getY() * widthSquare}px; left: ${rover.getX() * widthSquare}px ;transform-origin: 50% 50%; transform: rotate(${rover.getRotationDegrees() }deg)`">
    <img src="@/assets/rover.png">
    <img src="@/assets/glow.png">
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: ['rover', 'width'],
  computed: {
    widthSquare () {
      return this.width
    }
  }
})
</script>

<style scoped>

.rover-wrapper {
    position: absolute;
    height: 18px;
    width: 18px;
    transition: transform 0.05s ease;
}
</style>
