<template>
  <div class="app">
    <Map v-if="window.width > 992" class="invisible md:visible" :map="state.map" :rover="state.rover" />
    <Console :state="state" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import StateManager from '../utils/StateManager'
import Map from '../components/Map.vue'

export default Vue.extend({
  components: {
    Map
  },
  data () {
    return {
      state: new StateManager(200),
      command: 'frlrlflrflrlfrfrfrfrrrfff',
      size: 50,
      window: {
        width: 0
      }
    }
  },

  beforeMount () {
    window.addEventListener('resize', this.handleResize)
    // window.addEventListener('beforeunload', this.beforeBack)
    this.handleResize()
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.handleResize)
    // document.removeEventListener('backbutton', this.beforeBack)
  },

  methods: {
    handleResize () {
      this.window.width = window.innerWidth
    }
  }
})
</script>

<style scoped>
.app{
  background-image: url("https://ak.picdn.net/shutterstock/videos/17097937/thumb/1.jpg");
  background-size: contain;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

</style>
